[*.{kt,kts}]
ktlint_code_style = android_studio
compose_preview_naming_enabled = true
compose_preview_naming_strategy = suffix
ktlint_function_naming_ignore_when_annotated_with = Composable
compose_allowed_composition_locals = LocalDateFormatter, LocalClipboardManager

[**/build/**]
ktlint = disabled